---
title: About LA Municipal.FYI
--- 

    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">

<h2>About Us</h2>


<p>Welcome to LA Municipal.FYI, a place to raise awareness about the upcoming citywide election in Los Angeles. In 2013, the last time their was a March municipal election, less than 25% of registered voters went to the polls, and we are hoping to play a small part in helping change that.</p>


<p>We have compiled a list of all of the competitive elections for city elected executive positions, council seats, and school board seats as well as the measures on the ballot this march. This is not a comprehensive list, but we wanted to get the word out so people could have a better understanding of what is at stake this March.</p>

<p>This is our first shot, so we encourage feedback and please let us know if we can make any improvements. Our code is available here on GitHub, and please email us if you have any questions, comments or concerns!</p>

      </div>





